html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "klavika-bold";
  src: url("../assets/font/klavika-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: "klavika-light";
  src: url("../assets/font/klavika-light-webfont.woff") format("woff"); }

@font-face {
  font-family: "klavika-medium";
  src: url("../assets/font/klavika-medium-webfont.woff") format("woff"); }

@font-face {
  font-family: "klavika-regular";
  src: url("../assets/font/klavika-regular-webfont.woff") format("woff"); }

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "klavika-bold"; }

body {
  font-family: "klavika-regular";
  max-height: 100vh; }

#container {
  background-color: #000;
  color: white;
  font-size: 16px;
  position: relative;
  height: 100vh;
  width: 100vw; }
  #container .intro {
    animation: intro 300ms ease-out 3s forwards;
    position: relative;
    height: 100vh;
    width: 100vw; }
    #container .intro .patience {
      margin: calc(-149px / 2) 0 0 calc(-106px / 2);
      position: absolute;
      left: 50%;
      top: 50%; }
      #container .intro .patience .budda {
        margin-bottom: 40px;
        height: 149px;
        width: 106px; }
        #container .intro .patience .budda img {
          animation: 2.5s budda ease-in-out;
          width: 100%; }
      #container .intro .patience .text {
        animation: patience 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
        font-size: 14px;
        font-style: italic;
        overflow: hidden;
        width: 200px; }
        #container .intro .patience .text span {
          background-color: #000;
          z-index: 1; }
          #container .intro .patience .text span:after {
            animation: patience-exclamation 300ms linear 1.2s forwards;
            content: "!";
            margin-left: -3px; }
        #container .intro .patience .text:after {
          animation: patience-after 400ms linear 1.2s forwards;
          content: " young padawan...";
          display: block;
          left: -56px;
          position: absolute;
          top: 0;
          width: 110px;
          z-index: -1; }
  #container .main {
    animation: main 300ms ease-out 3.3s forwards;
    position: absolute;
    visibility: hidden;
    background-image: url(../assets/images/background.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    padding: 30px 60px;
    top: 0;
    transition: all 700ms ease-out;
    height: calc(100vh - 30px * 2);
    width: calc(100vw - 60px * 2); }
    #container .main .tabs {
      height: calc(100% - 80px); }
      #container .main .tabs [class*=tab-] {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 400ms ease-in-out; }
        #container .main .tabs [class*=tab-].active {
          height: 100%;
          opacity: 1;
          transition-delay: 700ms; }
    #container .main h1 {
      font-size: 50px;
      font-family: "klavika-regular";
      line-height: 1.2; }
      #container .main h1 div span {
        position: relative; }
        #container .main h1 div span:after {
          background: white;
          content: "";
          display: block;
          position: absolute;
          bottom: 4px;
          height: 1px;
          left: 0;
          width: 100%; }
    #container .main .we-are-breaking {
      display: flex;
      font-size: 13px;
      flex-direction: column;
      height: 100%; }
    #container .main .become-a-monk {
      display: flex;
      font-size: 13px;
      flex-direction: column;
      height: 100%; }
      #container .main .become-a-monk h1 {
        flex: 1; }
      #container .main .become-a-monk .join-us {
        flex: 1; }
        #container .main .become-a-monk .join-us p {
          line-height: 1.4; }
          #container .main .become-a-monk .join-us p a {
            color: white; }
        #container .main .become-a-monk .join-us .social-media {
          margin-top: 30px; }
          #container .main .become-a-monk .join-us .social-media i[class*=fa] {
            margin-right: 5px; }
          #container .main .become-a-monk .join-us .social-media a {
            text-decoration: none;
            color: white;
            padding: 3px 6px; }
    #container .main .media-monks {
      bottom: 0;
      position: absolute;
      right: 20px; }
      #container .main .media-monks svg {
        fill: white;
        height: 100px;
        width: 100px; }
    #container .main .pages {
      display: flex;
      bottom: 30px;
      left: 30px;
      position: absolute; }
      #container .main .pages ul {
        border: 2px dotted white;
        display: inline-flex; }
        #container .main .pages ul li {
          cursor: pointer;
          display: inline-block;
          font-size: 13px;
          font-family: "klavika-medium";
          list-style: none;
          margin-right: 2px;
          padding: 2px 6px;
          position: relative; }
          #container .main .pages ul li:first-child:before {
            left: 3px; }
          #container .main .pages ul li:last-child {
            margin-right: 0; }
            #container .main .pages ul li:last-child:after {
              border-right: none; }
          #container .main .pages ul li:before {
            content: "";
            background-color: white;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            transition: all 200ms linear;
            transform: scale(0); }
          #container .main .pages ul li.active:before {
            transform: scale(1); }
          #container .main .pages ul li:after {
            content: "";
            position: absolute;
            right: -2px;
            top: 0;
            bottom: 0;
            border-right: 2px dotted white; }
      #container .main .pages .text-page {
        align-items: center;
        display: none;
        font-family: "klavika-regular";
        font-size: 14px;
        margin-left: 20px; }
        #container .main .pages .text-page.is-visible {
          display: inline-flex; }
    #container .main .arrows {
      align-items: center;
      display: none;
      height: 100%;
      opacity: 0.6;
      padding: 0;
      position: absolute;
      top: 0;
      width: 0; }
      #container .main .arrows.is-visible {
        display: flex; }
      #container .main .arrows.arrow-left {
        left: 20px; }
      #container .main .arrows.arrow-right {
        right: 43px; }
      #container .main .arrows.arrow-left, #container .main .arrows.arrow-right {
        cursor: pointer; }
        #container .main .arrows.arrow-left:hover, #container .main .arrows.arrow-right:hover {
          opacity: 1; }
      #container .main .arrows img {
        width: 23px;
        position: absolute; }

@keyframes budda {
  0% {
    transform: scale(0.3, 0.3); }
  40% {
    transform: scale(1, 1); }
  50% {
    transform: translateY(-3px); }
  60% {
    transform: translateY(3px); }
  70% {
    transform: translateY(-3px); }
  80% {
    transform: translateY(3px); }
  90% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0px); } }

@keyframes patience {
  0% {
    transform: scale(0.5, 0.5);
    transform: translateX(20px); }
  50% {
    transform: scale(1, 1) translateX(0); }
  100% {
    transform: translateX(-30px); } }

@keyframes patience-after {
  from {
    left: -56px; }
  to {
    left: 56px; } }

@keyframes patience-exclamation {
  from {
    content: "!"; }
  to {
    content: ","; } }

@keyframes intro {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden;
    position: absolute; } }

@keyframes main {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    visibility: visible;
    position: relative; } }

[class*=pos-] {
  display: flex;
  height: 100%; }

.pos-top-left {
  align-items: flex-start;
  justify-content: flex-start; }

.pos-top-right {
  align-items: flex-start;
  justify-content: flex-end; }
  .pos-top-right * {
    text-align: right; }

.pos-center-left {
  align-items: center;
  justify-content: flex-start; }

.pos-center-right {
  align-items: center;
  justify-content: flex-end; }
  .pos-center-right * {
    text-align: right; }

.flex-grow {
  flex-grow: 1; }

@media (max-width: 768px) {
  #container .main h1 {
    font-size: 30px; }
  #container .main .media-monks {
    bottom: 14px; }
    #container .main .media-monks svg {
      height: 50px;
      width: 50px; }
  #container .main .pages .text-page {
    display: none !important; } }
