@font-face
  font-family: "klavika-bold"
  src: url("../assets/font/klavika-bold-webfont.woff") format("woff")

@font-face
  font-family: "klavika-light"
  src: url("../assets/font/klavika-light-webfont.woff") format("woff")

@font-face
  font-family: "klavika-medium"
  src: url("../assets/font/klavika-medium-webfont.woff") format("woff")

@font-face
  font-family: "klavika-regular"
  src: url("../assets/font/klavika-regular-webfont.woff") format("woff")

h1, h2, h3, h4, h5, h6, strong, b
  font-family: "klavika-bold"