@import "reset"
@import "fonts"
@import "vars"

body
  font-family: $font-regular
  max-height: 100vh

#container
  background-color: $background-intro
  color: white
  font-size: 16px
  position: relative
  height: 100vh
  width: 100vw

  .intro
    animation: intro 300ms ease-out 3s forwards
    position: relative
    height: 100vh
    width: 100vw

    .patience
      margin: calc(-149px / 2) 0 0 calc(-106px / 2)
      position: absolute
      left: 50%
      top: 50%

      .budda
        margin-bottom: 40px
        height: 149px
        width: 106px
        img
          animation: 2.5s budda ease-in-out
          width: 100%

      .text
        animation: patience 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards
        font-size: 14px
        font-style: italic
        overflow: hidden
        width: 200px
        span
          background-color: $background-intro
          z-index: 1
          &:after
            animation: patience-exclamation 300ms linear 1.2s forwards
            content: "!"
            margin-left: -3px
        &:after
          animation: patience-after 400ms linear 1.2s forwards
          content: " young padawan..."
          display: block
          left: -56px
          position: absolute
          top: 0
          width: 110px
          z-index: -1
  
  .main
    animation: main 300ms ease-out 3.3s forwards
    position: absolute
    visibility: hidden

    background-image: url(../assets/images/background.jpg)
    background-origin: border-box
    background-repeat: no-repeat
    background-size: cover
    opacity: 0
    padding: $padding-main-height $padding-main-width
    top: 0
    transition: all 700ms ease-out
    height: calc(100vh - #{$padding-main-height} * 2)
    width: calc(100vw - #{$padding-main-width} * 2)

    .tabs
      height: calc(100% - 80px)
      [class*=tab-]
        // border: 0px solid red
        height: 0
        opacity: 0
        overflow: hidden
        transition: opacity 400ms ease-in-out
        &.active
          height: 100%
          opacity: 1
          transition-delay: 700ms

    h1
      font-size: 50px
      font-family: $font-regular
      line-height: 1.2
      div
        span
          position: relative
          &:after
            background: white
            content: ""
            display: block
            position: absolute
            bottom: 4px
            height: 1px
            left: 0
            width: 100%

    .we-are-breaking
      display: flex
      font-size: 13px
      flex-direction: column
      height: 100%
    .become-a-monk
      display: flex
      font-size: 13px
      flex-direction: column
      height: 100%
      h1
        flex: 1
      .join-us
        flex: 1
        p
          line-height: 1.4
          a
            color: white
        .social-media
          margin-top: 30px
          i[class*=fa]
            margin-right: 5px
          a
            text-decoration: none
            color: white
            padding: 3px 6px

    .media-monks
      bottom: 0
      position: absolute
      right: 20px
      svg
        fill: white
        height: 100px
        width: 100px

    .pages
      display: flex
      bottom: 30px
      left: 30px
      position: absolute
      ul
        border: 2px dotted white
        display: inline-flex
        li
          cursor: pointer
          display: inline-block
          font-size: 13px
          font-family: $font-medium
          list-style: none
          margin-right: 2px
          padding: 2px 6px
          position: relative
          &:first-child
            &:before
              left: 3px
          &:last-child
            margin-right: 0
            &:after
              border-right: none
          &:before
            content: ""
            background-color: white
            position: absolute
            top: 3px
            left: 3px
            right: 3px
            bottom: 3px
            transition: all 200ms linear
            transform: scale(0)
          &.active:before
            transform: scale(1)
          &:after
            content: ""
            position: absolute
            right: -2px
            top: 0
            bottom: 0
            border-right: 2px dotted white
      .text-page
        align-items: center
        display: none
        font-family: $font-regular
        font-size: 14px
        margin-left: 20px
        &.is-visible
          display: inline-flex
    .arrows
      align-items: center
      display: none
      height: 100%
      opacity: 0.6
      padding: 0
      position: absolute
      top: 0
      width: 0
      &.is-visible
        display: flex

      &.arrow-left
        left: 20px
      &.arrow-right
        right: 43px
      
      &.arrow-left,
      &.arrow-right
        cursor: pointer
        &:hover
          opacity: 1
      img
        width: 23px
        position: absolute

@keyframes budda
  0%
    transform: scale(0.3, 0.3)
  40%
    transform: scale(1, 1)
  50%
    transform: translateY(-3px)
  60%
    transform: translateY(3px)
  70%
    transform: translateY(-3px)
  80%
    transform: translateY(3px)
  90%
    transform: translateY(-8px)
  100%
    transform: translateY(0px)

@keyframes patience
  0%
    transform: scale(0.5, 0.5)
    transform: translateX(20px)
  50%
    transform: scale(1, 1) translateX(0)
  100%
    transform: translateX(-30px)

@keyframes patience-after
  from
    left: -56px
  to
    left: 56px

@keyframes patience-exclamation
  from
    content: "!"
  to
    content: ","

@keyframes intro
  from
    opacity: 1
  to
    opacity: 0
    visibility: hidden
    position: absolute

@keyframes main
  from
    opacity: 0
  to
    opacity: 1
    visibility: visible
    position: relative

[class*=pos-]
  display: flex
  height: 100%

.pos-top-left
  align-items: flex-start
  justify-content: flex-start
.pos-top-right
  align-items: flex-start
  justify-content: flex-end
  *
    text-align: right
.pos-center-left
  align-items: center
  justify-content: flex-start
.pos-center-right
  align-items: center
  justify-content: flex-end
  *
    text-align: right

.flex-grow
  flex-grow: 1

@media (max-width: 768px)
  #container
    .main
      h1
        font-size: 30px
      .media-monks
        bottom: 14px
        svg
          height: 50px
          width: 50px
      .pages
        .text-page
          display: none !important
